#wave-svg {
  position: absolute;
  width: 2400%;
  height: 1440%;
  top: -20%;
  left: -20%;
  transform: rotate(-8deg);
  /* Remove translate animation here */
}

/* Animate the pattern horizontally */
@keyframes wavePatternMove {
  from {
    patternTransform: translateX(0);
  }
  to {
    patternTransform: translateX(-11520px);
  }
}

/* Apply animation to the pattern element */
#wavePattern {
  animation: wavePatternMove 10s linear infinite;
}
