body {
  margin: 0;
  overflow: hidden;
  background: #0e0628;
}

#wave-svg {
  position: absolute;
  width: 2400%;
  height: 1440%;
  top: -20%;
  left: -20%;
  transform: rotate(-8deg);
  animation: waveMove 10s linear infinite;
}

@keyframes waveMove {
  from {
    transform: rotate(-8deg) translate(0, 0);
  }
  to {
    transform: rotate(-8deg) translate(-11520px, -3600px);
  }
}
