/* Reset margin/padding and set background to black */
body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
  height: 100vh;
}

canvas#waves {
  display: block;
  width: 100vw;
  height: 250px; /* fixed height matching image */
}
