body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
  height: 100vh;
}

canvas#waves {
  display: block;
  width: 100vw;
  height: 100vh; /* fill full viewport height */
}
