body {
  margin: 0;
  overflow: hidden;
  background: #0e0628;
}

#wave-svg {
  position: absolute;
  width: 2400%;
  height: 1440%;
  top: -20%;
  left: -20%;
  transform: rotate(-8deg);
}

/* Animate the pattern horizontally */
@keyframes wavePatternMove {
  from {
    patternTransform: translateX(0);
  }
  to {
    patternTransform: translateX(-11520px);
  }
}

#wavePattern {
  animation: wavePatternMove 10s linear infinite;
}
