body, html {
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  background-color: #1a0a55; /* Dark background for contrast */
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(94, 23, 235, 0.8);
}
