body {
  margin: 0;
  overflow: hidden;
}

#wave-svg {
  width: 200%;
  height: 900px;
  animation: diagonalMove 10s linear infinite;
}

@keyframes diagonalMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, -80px);
  }
}
